<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All cars</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>All cars</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Year</th>
                <th>Price</th>
                <th>Date</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody id="projektai-body">
        </tbody>
    </table>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</body>
</html>